<main class="main">
  <div class="content">
    <div>
      <form [formGroup] = "formulario" (ngSubmit)="onSubmit()">
        <div>
          <label for="nombre">Nombre</label>
          <input id="nombre" formControlName="nombre">
          <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
            <small *ngIf="formulario.get('nombre')?.hasError('required')">El nombre es obligatorio.</small>
            <small *ngIf="formulario.get('nombre')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</small>
          </div>
        </div>
      
        <div>
          <label for="edad">Edad</label>
          <input id="edad" formControlName="edad">
          <div *ngIf="formulario.get('edad')?.invalid && formulario.get('edad')?.touched">
            <small *ngIf="formulario.get('edad')?.hasError('required')"> es obligatorio.</small>
          </div>
        </div>
      
      </form>
      
    </div>
  </div>
</main>

<router-outlet />
